# Neon DB
DATABASE_URL=""

# OpenAI API Key
OPENAI_API_KEY=""

# Azure AI Foundry Chat Model API Key
AZURE_RESOURCE_NAME=""
AZURE_API_KEY=""

# Azure AI Foundry Embedding Model API Key
AZURE_EMBEDDING_RESOURCE_NAME=""
AZURE_EMBEDDING_API_KEY=""

# EFO Connections
EFO_AUTH_ENCODED=""
NEXT_PUBLIC_EFO_BASE_URL=""
THUMBNAIL_ENDPOINT=""
